html {
    text-align: center;
    font-family: "Courier New", Courier, monospace;
    min-height: 100%;
    color: aliceblue;
    scroll-behavior: smooth;
    scroll-padding-top: 9%;
    overflow-x: hidden;
    font: inherit;
}
@media all and (max-width: 900px) {
  html {
    scroll-padding-top: 25%;
  }
}

body {
  overflow-x: hidden;
}

a {
  color: rgb(255, 219, 171);
}

main {
  background-image: linear-gradient(rgb(26, 12, 12), 95%, rgb(55, 4, 65));
}

.bebas-neue-regular {
    font-family: "Bebas Neue", sans-serif;
    font-weight: 400;
    font-style: normal;
  }

.playwrite-it-moderna-font {
  font-family: "Playwrite IT Moderna", cursive;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

.montserrat-font {
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
  }

.montserrat-font-italic {
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: italic;
}