/*=========== MAIN ===========*/
.centerStuff{
    display: flex;
    justify-content: center;
    align-items: center;
}

#musicFrontPage{
    padding: 2vw;
}

#siteTitle {
    font-size: clamp(50px, 8vw, 100px);
    height: 18vh;
    background: rgba(255, 255, 255, 0.5);
    border-radius: 3vw;
}

#pageDesc {
    height: 78vh;
}
    #descText {
        font-size: clamp(50px, 4vw, 100px);
        width: 40%;
    }
    #descImage {
        width: 40%;
    }
        #descImage img {
            width: 80%;
        }

#new_music {
    padding: 2vw;
}
#music_peek{
    flex-direction: column;
    margin: auto;
    background-color: black;
    border-radius: 3rem;
    padding: 5vw;
}
#catsCats {
    margin-top: 3vh;
    width: 100%;
    flex-direction: column;
}
#creaturesTitle {
    margin: 2%;
    width: clamp(250px, 70%, 700px);
}
#catsTitle {
    width: clamp(190px, 40%, 350px);
}
#catSVG {
    margin: 2%;
    width: clamp(200px, 35%, 300px);
}

#downloadLink {
    padding: 3%;
    color: aliceblue;
    font-size: clamp(15px, 4vw, 30px);
}

#music_player{
    margin-top: 5vh;
    width: clamp(50px, 30vw, 500px);
    height: clamp(100px, 45vw, 1000px);
    background-color: rgb(138, 11, 11);
    border-radius: 3rem;
    border: 10px, solid, rgb(255, 255, 255);
    display: none;
    /* display: block; */
}
    #playerTop{
        background-color: rgb(39, 40, 65);
        border-top-left-radius: 2.3rem;
        border-top-right-radius: 2.3rem;
        height: 60%;
        flex-direction: column;
    }
    #playerBottom{
        background-color: rgb(141, 110, 110);
        border-bottom-left-radius: 2.3rem;
        border-bottom-right-radius: 2.3rem;
        height: 40%;
    }
        #playerScreen{
            background-color: rgb(0, 0, 0);
            border-top-left-radius: inherit;
            border-top-right-radius: inherit;
            margin: 5%;
            padding: 3%;
            height: 100%;
        }
        #playerBottomContent{
            border-bottom-left-radius: inherit;
            border-bottom-right-radius: inherit;
            padding: 5%;
            height: 100%;
        }
        #album_peek p{
            font-size: clamp(10px, 1.5vw, 50px);
        }
    #playerControls{
        margin-bottom: 2.5%;
        padding: 2%;
        background-color: aliceblue;
        border-radius: 1rem;
    }


@media all and (max-width: 600px) {
    #pageDesc{
        flex-direction: column-reverse;
    }
    #descText {
        width: 90%;
        font-size: 10vw;
        margin-top: 10%;
    }
    #descImage {
        width: 90%;
    }
    #descImage img {
        width: 70%;
    }

    #new_music {
        padding: 10vw;
    }
    #album_peek{
        padding: 5vw;
    }
    
}

footer {
    height: 50vh;
    background-color: rgb(22, 2, 2);
    padding: 5vw;
    flex-direction: column;
}
#CCLicense {
    font-size: clamp(20px, 4vw, 30px);
}
hr {
    border: 0;
  clear:both;
  display:block;
  width: 96%;               
  background-color:rgb(255, 255, 255);
  height: 1px;
}