/*=========== [MAIN] ===========*/
.centerStuff {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

/*=========== [FRONT PAGE] ===========*/
#musicFrontPage {
    background-image: linear-gradient(rgb(255,125,125), 50%, rgb(227,80,127));
    flex-direction: row;
    overflow: hidden;
    height: 100vh;
    padding-bottom: 15vh;
}

#Front-Left {
    width: 60%;
}

    #siteTitle {
        padding: 4vw;
        width: 70vw;
        border-radius: 90px;
        transform: rotate(3deg) translateX(-5%);
        background-color: rgba(240, 215, 248, 0.514);
        align-items: start;
        margin-bottom: 1vh;
        overflow-x: hidden;
        z-index: 1;
        animation: Title-in 2s 1;
    }
        @keyframes Title-in {
            0% {transform: rotate(3deg) translateX(-100%);}
            100% {transform: rotate(3deg) translateX(-5%);}
        }

        #siteTitle p {
            margin-left: 20%;
            margin-right: 9%;
            font-size: clamp(40px, 4.5vw, 200px);
        }

    #pageDesc {
        flex-direction: row;
        transform: translateX(20%);
    }
        #pageDesc img {
            width: clamp(200px, 19vw, 450px);
        }

        #pageDesc p {
            font-size: clamp(60px, 3.5vw, 150px);
            margin: 1%;
        }

#Front-Right {
    width: 25%;
    height: 80vh;
    padding: 2%;
    margin: 2%;
    font-size: clamp(10px, 1vw, 100px);
    background-color: rgb(49, 15, 15);
    border: 10px dashed white;
    border-radius: 5vw;
    animation: Frnt-Rt 4s infinite;
}
    @keyframes Frnt-Rt {
        0% {transform: rotate(-3deg);}
        50% {transform: rotate(3deg);}
        100% {transform: rotate(-3deg);}
    }

/*=========== [NEW MUSIC] ===========*/
#new_music {
    background-image: linear-gradient(rgb(22, 83, 69), 50%, rgb(61, 9, 53));
}

#NewMusic_Title {
    color: rgb(37, 4, 44);
    margin-top: 6vh;
    font-size: clamp(50px, 8vw, 100px);
    height: 20vh;
    background: rgb(234, 242, 243);
    transform: rotate(-3deg) translate(0%, -15vh);
    width: 110%;
    overflow: hidden;
}
    @keyframes NewM-Title {
        0% {transform: rotate(-3deg) translate(100%, -15vh);}
        100% {transform: rotate(-3deg) translate(0%, -15vh);}
    }
    @media (prefers-reduced-motion: no-preference) {
        .NewM-Title-animation {
            animation: NewM-Title 1.5s 1;
        }
    }

/*=========== [MUSIC PLAYER (NEW)] ===========*/
.music_player {
    color: #f8f1f1;
    margin: 1%;
    width: clamp(340px, 40vw, 1000px);
}
    .Upper_content {
        flex-direction: row;
        background-color: rgb(37, 4, 44);
        justify-content: space-around;
    }
        .Name_credit{
            font-size: clamp(25px, 1.2vw, 100px);
        }
        .Cover_art {
            width: 50%;
        }
        .Player_music_title {
            width: 80%
        }
        .music_ctrls {
            flex-direction: column;
            justify-content: space-around;

        }
            .music_ctrls input {
                width: 200%;
                align-self: flex-start;
                transform: translateX(-25%);
            }
            .music_ctrls img {
                width: 40%;
            }


/*=========== [MEDIA SIZE] ===========*/
@media all and (max-width: 800px) {

    #musicFrontPage{
        flex-direction: column;
    }
        @keyframes Title-in {
            0% {transform: rotate(3deg) translateX(-100%);}
            100% {transform: rotate(3deg) translateX(0%);}
        }
    #Front-Right {
        width: 75%;
    }
    #siteTitle{
        margin-top: 5vh;
        align-items: center;
        transform: rotate(3deg);
        margin-left: 0%;
        margin-right: 0%;
    }
    #pageDesc{
        flex-direction: column-reverse;
        transform: translateX(0%);
    }
    #descImage {
        width: 90%;
    }

    #new_music {
        padding: 10vw;
    }

    .Upper_content {
        flex-direction: column;
    }
        .Cover_art {
            width: 100%;
            margin-bottom: 2vh;
        }

footer {
    height: 50vh;
    background-color: rgb(22, 2, 2);
    padding: 5vw;
}
hr {
    border: 0;
    clear:both;
    display:block;
    width: 96%;               
    background-color:rgb(255, 255, 255);
    height: 1px;
}