/*=========== MAIN ===========*/
.centerStuff{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#siteTitle {
    width: 100%;
    font-size: clamp(50px, 8vw, 100px);
    height: 20vh;
    background: rgba(255, 255, 255, 0.5);
}

#pageDesc {
    height: 78vh;
    flex-direction: row;
}
    #descText {
        font-size: clamp(50px, 4vw, 100px);
        width: 40%;
    }
    #descImage {
        width: 40%;
    }
        #descImage img {
            width: 80%;
        }

#new_music {
    background-color: rgb(49, 15, 15);
}

.main-content {
    margin: 2%;
    padding: 2%;
    width: clamp(250px, 70%, 1500px);
    color: black;
    background-color: antiquewhite;
    flex-direction: row;
    margin-bottom: 0%;
}

.music_player {
    flex-direction: column;
}
.player-image {
    width: 50%;
}
.info-and-controls {
    margin-left: 5%;
    justify-content: space-evenly;
}
.music-title {
    width: 100%;
    margin-bottom: 3%;
}
#caution {
    margin: 5%;
    display: block;
    flex-direction: row;
    font-size: 0;
}
#caution img {
    width: 15%;
    padding: 0%;
    margin: 0%;
}
#caution p {
    margin: 2%;
    font-size: clamp(12px, 30%, 500px);
}

.music-info {
    margin-top: 3vh;
    font-size: clamp(12px, 30%, 500px);
    margin-bottom: 3vh;
}

.music-controls input {
    width: 30vw;
}

.download-section {
    background-color: azure;
    padding: 2%;
    width: clamp(250px, 70%, 1500px);
    flex-direction: row;
}

.CC_License {
    background-color: black;
    padding: 1%;
    width: 50%;
    color:aliceblue;
}

.all-downloads {
    background-color: black;
    padding: 1%;
    width: 50%;
}
.all-downloads a {
        color: aliceblue;
}

#catsCats {
    margin: 5%;
    border-radius: 3rem;
    padding: 5vw;
    background-color: rgb(14, 9, 9);
    margin-top: 3vh;
    width: 80%;
}
#creaturesTitle {
    margin: 2%;
    width: clamp(250px, 70%, 700px);
}
#catsTitle {
    width: clamp(190px, 40%, 350px);
}
#catSVG {
    margin: 2%;
    width: clamp(200px, 35%, 300px);
}

#downloadLink {
    padding: 1%;
    color: aliceblue;
    font-size: clamp(15px, 4vw, 30px);
}

#playerControls{
    display: none;
    margin-bottom: 1.5%;
    padding: 2%;
    background-color: aliceblue;
    border-radius: 1rem;
}


@media all and (max-width: 600px) {
    #pageDesc{
        flex-direction: column-reverse;
    }
    #descText {
        width: 90%;
        font-size: 10vw;
        margin-top: 10%;
    }
    #descImage {
        width: 90%;
    }
    #descImage img {
        width: 70%;
    }

    #new_music {
        padding: 10vw;
    }
    #album_peek{
        padding: 5vw;
    }
    
}

footer {
    height: 50vh;
    background-color: rgb(22, 2, 2);
    padding: 5vw;
}
hr {
    border: 0;
  clear:both;
  display:block;
  width: 96%;               
  background-color:rgb(255, 255, 255);
  height: 1px;
}