html {
    background-image: url(/spacehedgieMain/mainImages/pexels-834934396-20899958.jpg);
    background-size: 50%;
}

.centerStuff{
    display: flex;
    justify-content: center;
    align-items: center;
}

main {
    height: 100vh;
}

#hedgieTitle {
    color: rgb(37, 7, 7);
    text-align: center;
    font-size: clamp(30px, 5vw, 200px);
}

footer {
    height: 50vh;
    background-color: rgb(32, 10, 10);
    padding: 5vw;
}
#footText{
    flex-direction: column;
}